/* ====================================== */
/* ============== HERO ================ */
/* ====================================== */
.section-hero {
  display: flex;
  position: relative;
  height: 100vh;
  color: rgb(118 255 157);
  /* background-color: #000000;
  background-image: linear-gradient(
    225deg,
    #000000 0%,
    #aedfae 50%,
    #dbf0dc 100%
  ); */
  background-image: url(./img/image/slider-1.jpg);
  background-size: cover;
  background-position: top center;
  z-index: 1;
}

.section-hero::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}

.hero {
  max-width: 130rem;
  display: grid;
  padding: 0 3.2rem;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
  margin: 0rem auto;
  align-items: center;
}

.hero-description {
  font-size: 1.7rem;
  width: 64%;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.human-bought {
  display: flex;
  align-items: center;
  margin-top: 6rem;
  gap: 0.4rem;
}

.img-human {
  display: flex;
  /* gap: -5rem; */
}

.item-img {
  width: 4rem;
  height: 4rem;
  border: 2px solid #000;
  border-radius: 50%;
  margin-right: -1.3rem;
}

.item-img:last-child {
  margin: 0;
}

.text-human {
  margin-left: 2rem;
  font-size: 1.5rem;
}

.text-human span {
  font-size: 1.8rem;
  font-weight: bold;
  color: rgb(235 255 241);
  transition: all 0.6s;
}

.text-human span:hover {
  cursor: pointer;
  color: #fff;
}

/* ====================================== */
/* ============== HEADER ================ */
/* ====================================== */
#header .container1 {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}

#header .header {
  min-height: 8vh;
  background-color: rgba(31, 30, 30, 0.24);
  transition: 0.3s ease background-color;
}

#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}

#header .nav-items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.logo-shop {
  font-size: 3rem;
  text-transform: uppercase;
  color: rgb(4, 139, 44);
}

.nav-item {
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: rgb(32 192 93);
  text-transform: uppercase;
  padding: 20px;
  display: block;
  font-size: 1.5rem;
  list-style: none;
}

.nav-item:hover {
  color: #37b24d;
}

.hover {
  --s: 0.1em; /* the thickness of the line */
  --c: #37b24d; /* the color */

  /* color: #0000; */
  padding-bottom: var(--s);
  background: linear-gradient(90deg, var(--c) 50%, #000 0)
      calc(100% - var(--_p, 0%)) / 200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
}
.hover:hover {
  --_p: 100%;
}

/* ----------END HEADER------------ */

/* ----------START INTRODUCE------------ */

.section-introduce {
  padding: 9.6rem;
  /* border-bottom: 1px solid #000; */
  /* background-color: #dcf1de; */
}

.introduce {
  display: inline-block;
  margin-bottom: 20rem;
}

.step-img-box {
  display: flex;
  align-items: center;
}

.step-img-box1 {
  justify-content: flex-end;
}

.step-text-box {
  position: relative;
}

.step-img {
  width: 70%;
  border-radius: 5rem;
}

.step-description {
  font-size: 2rem;
  line-height: 1.7;
  margin: 3rem 0;
  text-align: justify;
}

.step-buy {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.step-text-box > a {
  position: absolute;
  right: 0;
}
/* ----------END INTRODUCE------------ */

/* ====================================== */
/* ============== LIST ================ */
/* ====================================== */

.section-list {
  padding: 4.8rem 9.6rem 9.6rem 9.6rem;
  border-top: 1px solid #ddd;
}

.list-items {
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 15rem);
  max-width: 100rem;
  margin: 4rem auto;
  gap: 2rem;
}

.list-store {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: space-between;
  font-size: 2.4rem;
  padding: 2rem 0;
  align-items: flex-end;
}

.value {
  font-size: 4rem;
}

.list-store h3 {
  font-weight: 200;
  background-color: rgb(14, 14, 83);
  color: #fff;
  padding: 0.9rem;
  border-radius: 1rem;
}

.movements {
  grid-row: 2 / span 3;
  overflow: scroll;
  border-radius: 1rem;
}

.movements-row {
  display: flex;
  justify-content: space-between;
  padding: 2.25rem 4rem;
  border-bottom: 1px solid #eee;
  align-items: center;
  font-size: 1.5rem;
}

.movement-name {
  background-color: rgb(14, 14, 83);
  color: #fff;
  padding: 0.4rem 0.9rem;
  border-radius: 1rem;
}

.movement-price {
  color: #db52a0;
}

.movement-box {
  padding: 3rem 4rem;
  color: #333;
  border-radius: 1.5rem;
}
.movement-box h3 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.add-movements {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.fix-movements {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.remove-movements {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
}

.form.form-remove {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}
.form-label-remove {
  grid-row: 2;
}

.form-input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  padding: 0.5rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

.form-input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.form-btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.form-label {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 0.8rem;
}

.movements {
  background-color: #fff;
}

/* ====================================== */
/* ============== STORE ================ */
/* ====================================== */

.section-testimonials {
  background-color: rgb(192 228 192);
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
  /* height: 100rem; */
}

.testimonials-container {
  padding: 3rem 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
}

.heading-secondary {
  font-size: 5rem;
  margin-bottom: 3.2rem;
}

.testimonial-img {
  width: 5.5rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.6rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
  background-image: cover;
}

.gallery-item {
  overflow: hidden;
  background-position: center;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/* ====================================== */
/* ============== LIST ================ */
/* ====================================== */

.slider {
  max-width: 100rem;
  height: 50rem;
  margin: -4rem auto 0 auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;

  display: flex;
  align-items: center;
  justify-content: center;
  /* THIS creates the animation! */
  transition: transform 1s;
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: rgb(10, 1, 1);
  opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
  width: 65%;
  position: relative;
}

.testimonial__header {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.testimonial__text {
  font-size: 1.7rem;
  margin-bottom: 3.5rem;
  color: #666;
  text-align: justify;
  line-height: 1.5;
}

.testimonial__author {
  margin-left: 3rem;
  font-style: normal;

  display: grid;
  grid-template-columns: 6.5rem 1fr;
  column-gap: 2rem;
}

.testimonial__photo {
  grid-row: 1 / span 2;
  width: 6.5rem;
  border-radius: 50%;
}

.testimonial__name {
  font-size: 1.7rem;
  font-weight: 500;
  align-self: end;
  margin: 0;
}

.testimonial__location {
  font-size: 1.5rem;
}

.section__title--testimonials {
  margin-bottom: 4rem;
}

.section4 {
  padding: 9.6rem;
  border-top: 1px solid #ddd;
  transition: transform 1s, opacity 1s;
}
.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

/* ====================================== */
/* ============== FOOTER ================ */
/* ====================================== */

.footer {
  padding: 9.6rem 0 1.5rem 0;
  background-color: #aedfae;
  border-top: 1px solid #dedede;
  font-size: 1.8rem;
  line-height: 2.4rem;
}
.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
}

.copyright {
  margin-top: 9rem;
  margin-bottom: 0;
  text-align: center;
}

.footer h4 {
  font-size: 2.2rem;
  margin-bottom: 5rem;
}

.footer-contact .contact {
  line-height: 2;
  margin-bottom: 4rem;
}

.account-item,
.resource-item {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 1.4rem;
}

.account-item a,
.resource-item a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  color: #444;
  transition: all 0.3s;
}

.account-item a:hover,
.resource-item a:hover {
  color: rgb(7, 108, 27);
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.lazy-img {
  filter: blur(20px);
}
